.weatherCard {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.weatherCard__weekday {
  color: var(--accent-gray);
}

.weatherCard__image {
  height: 50px;
  width: 50px;
}