.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* topbar styles */
.modal__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.topbar__title {
  font-weight: 400;
}

.topbar__button {
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

.topbar__button__icon {
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}

.topbar__button__icon:hover {
  transform: rotate(135deg);
}

/* styles for control buttons */
.modal__controls {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  border-top: 1px solid lightgray;
}

.control__cancel {
  padding: 8px 15px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid var(--accent-gray);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.control__submit {
  padding: 8px 15px;
  color: white;
  background-color: var(--accent-blue);
  border: 1px solid var(--accent-blue);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.control__cancel:hover,
.control__submit:hover {
  transform: scale(1.1);
}

/* styles for form */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__label::before {
  content: "* ";
  color: red;
}

.form__input {
  padding: 10px;
  border-radius: 0;
  border: 1px solid lightgray;
  outline: none;
}

.form__input:hover {
  border: 1px solid var(--dark-blue);
}

.form__input::placeholder {
  color: lightgray;
}

.form__select {
  padding-right: 100px;
}

.form__datefield {
  appearance: none;
}

/* mobile layout */
@media (max-width:800px) {
  .modal {
    width: 90%;
  }
}
