.searchbar {
  grid-column: 1 / span 6;
  grid-row: 2;
  margin-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--bg-gray);
}

.search:hover, .search--active {
  outline: 1px solid var(--dark-blue);
}

.search__icon {
  height: 15px;
  width: 15px;
}

.search__input {
  background: none;
  border: none;
  height: 20px;
}

.search__input:active,
.search__input:focus {
  outline: none;
}

.search__clear {
  background-color: var(--bg-gray);
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width:800px) {
  .searchbar {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
