.searchbar {
  grid-column: 1 / span 6;
  grid-row: 2;
  margin-bottom: 30px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--bg-gray);
}

.search--active {
  outline: 1px solid var(--dark-blue);
}

.search__icon {
  height: 15px;
  width: 15px;
}

.search__input {
  background: none;
  border: none;
  height: 20px;
}

.search__input:active,
.search__input:focus {
  outline: none;
}
