* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* global css variables */
:root {
  --bg-gray: #F2F4F8;
  --accent-gray: #92959C;
  --dark-gray: #555;
  --accent-blue: #1890FF;
  --dark-blue: #110E3B;
}

/* general page styles */
.app {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 10px;

  min-height: 100vh;
  margin: 0 0 0 20px;
}

.app__title {
  grid-column: 1 / span 6;
  grid-row: 1;
  font-weight: 300;
  margin: 15px 0;
}
